*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.here{
    font-size: 80px;
    color: white ;
    margin: 0 30px;
}

.bum {
    margin: 0;
    font-size: 140px;
    color: rgb(251, 255, 0);
    animation: pulse 3s linear infinite ; 
 
}

 
@keyframes pulse {
    from {color: red;}
    to {color: yellow;}
}